/*清除内外边距*/
body,h1,h2,h3,h4,h5,h6,p,hr,/*结构元素*/
ul,ol,li,dl,dd,/*列表元素*/
form,fieldset,legend,input,button,select,textarea,/*表单元素*/
th,td,/*表格元素*/
pre {
padding: 0;
margin: 0;
}

/*重置默认样式*/
body,button,input,select,textarea{
    font: 12px/1 'Microsoft YaHei',Tahoma,Helvetica,Arial,SimSun,sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: normal;
}